body {
  background-color: #e3f2fd;
  font-size: 16px;
  font-family: 'Dancing Script', cursive;
}

.quote-wrapper {
  max-height: 300px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -200px;
  border-color: rgba(100, 150, 200, 1);
  background-color: #90caf9;
  box-shadow: 0px 0px 3px 2px #bbdefb;
}

.heading {
  background-color: #2196f3;
  box-shadow: 0px 1px 1px -1px gray;
  text-align: center;
  color: #ffffff;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 30px;
}

.quote-box {
  padding: 1em;
  width: 90%;
  margin: 0 auto;
}

.txtQuote {
  height: 8em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-firection: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: inset 1px 1px 5px -1px#888888;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.button-menu {
  padding-top: 10px;
}

.btnQuote {
  border: none;
  border-radius: 5px;
  height: 32px;
  background-color: #e3f2fd;
}

button.btnQuote:hover {
  background-color: #ffffff;
}

.tweet {
  float: right;
}